.navbar-brand img {
  height: 40px;
}

.breadcrumb {
  margin: 0px;
}

.bs-site-logo {
  border-color: #DF691A !important;
}
.bs-site-logo img {
  width: 100%;
  border-color: #DF691A !important;
}

.bs-docs-subsection {
    margin-top: 2em;
}

